//VARIABLES

/*couleurs*/
$clr-primary: #ff6060;

$bg-color-a: #f6f6f6;
$bg-color-b: black;

$text-color: #ffffff;

/*polices*/
$primary-font-family: Montserrat, sans-serif;

/*dimensions*/

/*breakpoints*/
$breakpoints: (
  tablet: 769px,
  desktop: 1039px,
  smallscreen: 360px,
);
