//ALL PAGES CONTAINER STYLE
@import '../Utils/variables';
@import '../Utils/mixins';

.page-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 209px;

  @include tablet-only {
    padding: 0;
  }
}
